.nav{
  grid-area: n;
  background-color: 	#DCDCDC		;
  height: 100%;
  
  }
  .item{
    text-align: center;
  }
  .item a{
    color: black;
    text-decoration: none;
  }
  .item a.activLinks{
    color: dimgrey;
  }
  .friendItem{
    text-align: center;
    color: black;
  }
  .transition{
    margin-block-end: 80px;
  }